.card {
    max-width: var(--size-w-card);
	scroll-snap-align: center;
	color: var(--color-dark-secondary);
	opacity: 0;
}

.card:hover {
	text-decoration: underline;
	cursor: pointer;
}

.card.scale-up {
	opacity: 1;
}

.image-selected {
	max-width: var(--size-w-card);
    max-height: var(--size-h-card);
    overflow: hidden;
}

.card[data-selected] .image-selected {
	border: .3rem solid var(--color-dark-featureda);
	border-radius: .5rem;

	filter: brightness(.8);
}

.card img {
    width: var(--size-w-card);
    height: var(--size-h-card);
	border-radius: .5rem;
}

.card h3 {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}

.card h3 svg {
	width: var(--icon-size-w);
	height: var(--icon-size-h);;
	margin-right: 1rem;
}

.card h3 svg:hover path {
	fill: var(--color-dark-featureda)
}

.card p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

	margin-top: .5rem;
}

.card  h3,
.card p,
.card img{
	transition: color 2ms, filter 2ms;
}

.card[data-selected] h3 {
	color: var(--color-dark-featureda);
}

.card:not([data-selected]) p {
	filter: brightness(70%);
}

@media (width > 1040px) {
	:root {
		--size-w-card: 30.6rem;
		--size-h-card: 15.2rem;
	}
}