.card {
	width: min-content;
    max-width: 20.6rem;
	
	color: var(--color-dark-secondary);
}

.image-selected:hover {
	cursor: pointer;
}

.card img {
    width: 20.6rem;
    height: 10.4rem;
	border-radius: .5rem;
}

.card h3 {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}

.card h3 svg {
	width: 1.8rem;
	height: 1.8rem;
	margin-right: 1rem;
}

.card h3 svg:hover path {
	fill: var(--color-dark-featureda)
}

.card p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

	margin-top: .5rem;
}

.card + .card {
	margin-left: 2.5rem;
}

.card[data-selected] .image-selected img {
	outline: .2rem solid var(--color-dark-featureda);

	filter: brightness(115%);
}

.card[data-selected] h3 {
	color: var(--color-dark-featureda);
}

.card:not([data-selected]) p {
	filter: brightness(70%);
}