@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    /* cores */
	--hue: 271;
    --color-dark-dominant: hsl(216, 7%, 15%);
    --color-dark-secondary: hsl(206, 100%, 96%);
    --color-dark-featureda: hsl(var(--hue), 81%, 55%);
    --color-dark-dominant-light: hsl(245, 8%, 28%);

    /* tamanhos de imagens*/
    --size-m-perfil: 10rem;
	--size-w-card: 20.6rem;
	--size-h-card: 10.2rem;
	/* --size-d-w-card: 25.7rem;
	--size-d-h-card: 12.7rem; */

	/* outros tamanhos */

	--icon-size-w: 1.8rem;
	--icon-size-h: 1.8rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

html,
body {
	width: 100%;
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: var(--color-dark-dominant);
}

body,
button,
input,
textarea{
    /* Intervalo de tamanho: clamp(Tamanho mínimo, tamanho padrão, tamanho máximo) responsividade */
    font-size: clamp(14px, 1.6rem, 2vw);
	font-family: "Unbounded", sans-serif;
}

#page {
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.container {
	width: min(100vw, 110rem);
	padding-inline: 3rem;
}

/* FONTES ___________ */

h1 {
	font-weight: 600 ;
	font-size: clamp(2rem, 6vw, 4rem);
	line-height: clamp(4rem, 5vw, 4rem);
}

.sub {
	font-weight: 300 ;
	font-size: clamp(1.6rem, 2vw, 2rem);
	line-height: clamp(2.4rem, 2vw, 3rem);
}

h2 {
	font-weight: 600 ;
	font-size: clamp(1.8rem, 4vw, 2.8rem);
	line-height: clamp(2rem, 3vw, 4rem);
}

h3 {
	font-weight: 600 ;
	font-size: clamp(1.6rem, 3vw, 2rem);
	line-height: clamp(2rem, 3vw, 3rem);
}

.desc {
	font-weight: 300 ;
	font-size: clamp(1.6rem, 1vw, 1.8rem);
	line-height: clamp(2.4rem, 2vw, 3rem);
}

.desc.selected {
	font-weight: 600;
}

.text {
	font-weight: 300 ;
	font-size: clamp(1.4rem, 2vw, 1.6rem);
	line-height: clamp(2.4rem, 2vw, 3rem);
}

a {
    text-decoration: none;
}

strong {
    color: var(--color-dark-featureda);
}

/* CONFIGS */

.disabled {
	display: none;
}

.flex {
	display: flex;

}

@media (min-width: 700px) {
	:root {

		/* tamanhos de imagens*/
		--size-w-card: 25.7rem;
		--size-h-card: 12.7rem;


		--btn-contato-h: 3.8rem;
		--btn-contato-w: 17.4rem;
		--icon-size-w: 2.61rem;
		--icon-size-h: 2.61rem;
	}
}