.card {
	width: min-content;

	color: var(--color-dark-secondary);
}

.card:hover {
	cursor: pointer;
}

.card img {
    width: 20.6rem;
    height: 10.4rem;
	border-radius: .5rem;
}

.card h3 {
	margin-top: 1rem;
}

.card p {
	margin-top: .5rem;
}

.card + .card {
	margin-left: 2.5rem;
}

.card[data-selected] img {
	outline: .2rem solid var(--color-dark-featureda);

	filter: brightness(115%);
}

.card[data-selected] h3 {
	color: var(--color-dark-featureda);
}

.card:not([data-selected]) p {
	filter: brightness(70%);
}