header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: end;
    
    width: 100%;
	max-width: 70rem;
    height: 2rem;
    padding: 0 2rem;
    margin: 0 auto 3rem;
}

header a {
    color: var(--color-dark-secondary);
}

header a + a {
    margin-left: 1.5rem;
}