<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head', {title: 'Sobre mim', page: 'about'}) %>
</head>
<body>
    <div id="container">
        <%- include('../partials/header') %>
    </div>
</body>
</html>