<header class="oculted">
	<div class="flex container">
		<div class="header-logomarca">
			<img class="logo" src="wolf-logo.svg" alt="Logo, imagem de um lobo.">
			Vitor Lopes
		</div>
		<nav class="flex">
			<a class="desc selected disabled" href="/">Home</a>
			<a class="desc disabled" href="/about">Sobre</a>
		</nav>
	</div>
</header>