<header class="flex">
	<div class="flex container">
		<img class="logo" src="wolf-logo.svg" alt="">
		<nav class="flex">
			<a class="desc selected" href="/">Home</a>
			<a class="desc" href="/about">Sobre</a>
		</nav>
	</div>
</header>