<!-- [] Deixar dinâmico -->
<div class="board">
	<a href="" class="board-header" target="_blank">
		<img src="" alt="">
		<div class="board-header-content">
			<h2 class="title2"></h2>
			<p class="desc2"></p>
		</div>
	</a>
	<div class="board-content">
		<h3 class="title3">📋  Descrição</h3>
		<p class="text"></p>
		<h3 class="title3">🚀  Tecnologias usadas</h3>
		<ul class="text">
		</ul>
	</div>
</div>