<!-- [] Deixar dinâmico -->
<div class="board">
	<div class="board-header">
		<img src="" alt="">
		<div class="board-header-content">
			<h2 class="title2"></h2>
			<p class="desc2"></p>
		</div>
	</div>
	<div class="board-content">
		<h3 class="title3">📋  Descrição</h3>
		<p class="text"></p>
		<h3 class="title3">🚀  Tecnologias usadas</h3>
		<ul class="text">
			<li>React</li>
			<li>React Native</li>
			<li>Expo</li>
			<li>TypeScript</li>
		</ul>
	</div>
</div>