<!-- [] Deixar dinâmico -->
<div class="description">
	<div class="desc-header">
		<img src="/images/inicio-feedget.png" alt="">
		<div class="desc-header-content">
			<h2 class="title2">Feedback Widget</h2>
			<p class="desc2">React \ TypeScript</p>
		</div>
	</div>
	<div class="desc-content">
		<h3 class="title3">📋  Descrição</h3>
		<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas pariatur ducimus neque. Ea earum, consequuntur accusamus sed, cumque ipsa nihil sint corrupti voluptas unde, quam natus dicta ullam harum.	</p>
		<h3 class="title3">🚀  Tecnologias usadas</h3>
		<ul class="text">
			<li>React</li>
			<li>React Native</li>
			<li>Expo</li>
			<li>TypeScript</li>
		</ul>
	</div>
</div>