<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Styles -->
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/partials/header.css">
<link rel="stylesheet" href="styles/partials/footer.css">
<% if (page == 'index') { %>
	<!-- Styles/index -->
	<link rel="stylesheet" href="styles/pages/index.css">
	<link rel="stylesheet" href="/styles/partials/card.css">
<% } %>

<!-- Scipts -->
<script src="/scripts/functions/setLocalStorage.js" type="module"></script>
<script src="/scripts/addEvent.js" type="module" defer></script>
<% if (page == 'index') { %>
	<!-- Scripts/index -->

<% } %>

<title><%= title %></title>